*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	background-color: #f4f7f6;
	color: #202121;
	font: 18px / 1.4 Lato, Arial, Helvetica, sans-serif;
	padding-top: 72px;
}

p {
	margin: 0 0 12px;
}

a {
	text-decoration: none;
	color: #42AB9E;
	transition: all 150ms ease;
}

a:hover {
	opacity: 0.9;
}

img {
	max-width: 100%;
	height: auto;
}

button,
input,
optgroup,
select,
textarea {
	font-family: Lato, Arial, Helvetica, sans-serif;
	line-height: 1.4;
}

input,
select,
textarea {
	border-radius: 3px;
	border: 1px solid #ccc;
	padding: 6px 12px;
}

input:focus,
select:focus,
textarea:focus {
	outline: none;
	border-color: #42AB9E;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #202121;
}

h1,
h2,
h3 {
	line-height: 1.2;
}

h4,
h5,
h6 {
	line-height: 1.3;
}

h1 {
	font-size: 54px;
}

h2 {
	font-size: 46px;
}

h3 {
	font-size: 32px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 18px;
}
